---
title: 'Massages | Chokdee Thai Therapy'
description: 'Professional massage services for pain relief, detox & stress reduction. Traditional therapeutic techniques with modern hygiene standards. Qualified & insured.'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massages.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

{% include 'components/pricing-tiles.html' %}                                                  

{% endblock %}